{% load mathfilters %}
{% if items|length > 0 %}
    <div class="progress">
        {% for coalition_id, colour, item in items %}
            {% if colour %}
                <div    class="progress-bar" role="progressbar"
                        data-toggle="tooltip" data-placement="top" title="{{ item }} [{{ item.pilots }}]"
                        style="width: {{ 100|div:pilot_count|mul:item.pilots }}%; background-color: {{ colour }};">
            {% elif item.colour %}
                <div    class="progress-bar" role="progressbar"
                        data-toggle="tooltip" data-placement="top" title="{{ item }} [{{ item.pilots }}]"
                        style="width: {{ 100|div:pilot_count|mul:item.pilots }}%; background-color: {{ item.colour }};">
            {% else %}
                <div    class="progress-bar bg-{% cycle 'info' 'success' 'warning' 'danger' %}"
                        data-toggle="tooltip" data-placement="top" title="{{ item }} [{{ item.pilots }}]"
                        role="progressbar" style="width: {{ 100|div:pilot_count|mul:item.pilots }}%">
            {% endif %}
                    {{ item }} [{{ item.pilots }}]
                </div>
        {% endfor %}
    </div>
{% endif %}