{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block title %}Enter Password - {{ nav_title }}{% endblock %}

{% block body %}
    <br />
    <div class="container">
        <br />
        <div class="col-sm-6 offset-3">

            <form method="POST">
                <div class="card mb-3">
                    <div class="card-header">Please enter password</div>
                    <div class="card-body">
                        {% bootstrap_field form.password show_label=False %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}