
.card > table {
    margin-bottom: 0;
}

td.scan-count {
    vertical-align: middle;
    font-weight: 800;
}
td.scan-name {
    vertical-align: middle;
}

td.icon {
    padding: 0;
}
td.icon > img {
    width: 32px;
}